.block.contact {
	background: $contact-bg;

	// Large text below header
	.jumbotron {
		p {
			font-size: 2.6em;
			text-align: center;

			// - The future of meat crew ......
			&.author {
				text-align: right;
				font-style: italic;

				&:before {
					content: '-';
					margin-right: 0.5em;
				}
			}

			// Link for mail
			a {
				color: #000;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	// Info about crew
	.contact-info {
		text-align: right;
		font-style: italic;
	}
}
