@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/source-sans-pro/sourcesanspro-italic-webfont.eot');
	src: url('/fonts/source-sans-pro/sourcesanspro-italic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/source-sans-pro/sourcesanspro-italic-webfont.woff') format("woff"), url('/fonts/source-sans-pro/sourcesanspro-italic-webfont.ttf') format("truetype"), url('/fonts/source-sans-pro/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format("svg");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/source-sans-pro/sourcesanspro-light-webfont.eot');
	src: url('/fonts/source-sans-pro/sourcesanspro-light-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/source-sans-pro/sourcesanspro-light-webfont.woff') format("woff"), url('/fonts/source-sans-pro/sourcesanspro-light-webfont.ttf') format("truetype"), url('/fonts/source-sans-pro/sourcesanspro-light-webfont.svg#source_sans_prolight') format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.eot');
	src: url('/fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.woff') format("woff"), url('/fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.ttf') format("truetype"), url('/fonts/source-sans-pro/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic') format("svg");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.eot');
	src: url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format("woff"), url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.ttf') format("truetype"), url('/fonts/source-sans-pro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format("svg");
	font-weight: 400;
	font-style: normal;
}
