// Sidebar stuff
@mixin sidebar-width($width) {
	.sidebar {
		width: $width;
	}

	.main {
		padding-left: $width;
	}
}

@media #{$large-up} {
	@include sidebar-width(120px);
}

$intro-bg: #404a59;

.sidebar {
	background: $intro-bg;

	@media #{$large-up} {
		background: #7b7979;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
	}

	// Link to open menu
	.menu-toggle {
		display: block;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.5em $column-gutter / 2;
		font-weight: bold;
		font-size: 1.2em;
		border-bottom: 1px solid darken($intro-bg, 5%);

		@media #{$large-up} {
			display: none;
		}

		// Hamburger icon for menu
		.burger {
			margin-top: 0.17em;
			margin-right: 0.4em;
			display: block;
			height: 0.2em;
			width: 1em;
			float: left;
			background: #fff;

			&:before {
				content: "";
				margin-top: 0.4em;
				display: block;
				height: 0.2em;
				width: 1em;
				background: #fff;
			}

			&:after {
				content: "";
				margin-top: 0.2em;
				display: block;
				height: 0.2em;
				width: 1em;
				background: #fff;
			}
		}
	}

	// Actual menu that opens
	.menu {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		display: none;

		li {
			display: block;
		}

		// Links
		a {
			font-family: "Source Sans Pro";
			font-weight: 300;
			display: block;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			padding: 0.5em $column-gutter / 2;
			border-top: 1px solid lighten($intro-bg, 5%);
			border-bottom: 1px solid darken($intro-bg, 5%);

			img {
				display: none;
			}

			// With
			&:hover {
				background: darken($intro-bg, 10%);
				border-top: 1px solid darken($intro-bg, 15%);
				border-bottom: 1px solid darken($intro-bg, 5%);

				// Decorations
				&:after {
					content: "•";
					float: right;
				}
			}

			@media #{$large-up} {
				border: none;
				background: transparent;
				padding: 10px;

				img {
					display: block;
				}

				&:hover {
					background: transparent;
					border: none;

					&:after {
						content: none;
					}
				}
			}
		}

		@media #{$large-up} {
			display: block;
		}

		&.js-active {
			display: block;
		}	
	}
}

// Main content
.main {
	@media #{$medium-up} {
		height: 100%;
	}
}
