@charset "UTF-8";
// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// Make sure the charset is set appropriately
@import "normalize";

// Behold, here are all the Foundation components.
@import "foundation/components/grid";
/*@import "foundation/components/accordion";*/
/*@import "foundation/components/alert-boxes";*/
/*@import "foundation/components/block-grid";*/
/*@import "foundation/components/breadcrumbs";*/
/*@import "foundation/components/button-groups";*/
/*@import "foundation/components/buttons";*/
/*@import "foundation/components/clearing";*/
/*@import "foundation/components/dropdown";*/
/*@import "foundation/components/dropdown-buttons";*/
/*@import "foundation/components/flex-video";*/
/*@import "foundation/components/forms";*/
/*@import "foundation/components/icon-bar";*/
/*@import "foundation/components/inline-lists";*/
/*@import "foundation/components/joyride";*/
/*@import "foundation/components/keystrokes";*/
/*@import "foundation/components/labels";*/
/*@import "foundation/components/magellan";*/
/*@import "foundation/components/orbit";*/
/*@import "foundation/components/pagination";*/
/*@import "foundation/components/panels";*/
/*@import "foundation/components/pricing-tables";*/
/*@import "foundation/components/progress-bars";*/
/*@import "foundation/components/range-slider";*/
/*@import "foundation/components/reveal";*/
/*@import "foundation/components/side-nav";*/
/*@import "foundation/components/split-buttons";*/
/*@import "foundation/components/sub-nav";*/
/*@import "foundation/components/switches";*/
/*@import "foundation/components/tables";*/
/*@import "foundation/components/tabs";*/
/*@import "foundation/components/thumbs";*/
/*@import "foundation/components/tooltips";*/
/*@import "foundation/components/top-bar";*/
/*@import "foundation/components/type";*/
/*@import "foundation/components/offcanvas";*/
/*@import "foundation/components/visibility";*/

$contact-bg: #d1ecab;

@import "fonts";
@import "menu";

@import "intro";
@import "about";
@import "scenarios";
@import "crew";
@import "contact";

// Heading styles
h1 {
	color: #fff;
	font-size: 4.4em;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Muli', sans-serif;

	span.striped {
		line-height: 1em;
		border-top: 0.03em solid #fff;
		border-bottom: 0.03em solid #fff;
	}
}

// Block of content
.block {
	min-height: 100%;
	padding-bottom: 2em;
}

// Responsive stuff
.aspect-wrapper {
	width: 100%; /* whatever width you like */
	position: relative; /* so .content can use position: absolute */
	
	&:after {
		display: block;
		content: '';
		padding-top: 100%;
	}

	.aspect-inner {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0; /* follow the parent's edges */
		overflow: hidden;
	}
}

